.about-me {
    display: flex;
    flex-direction: column;
}

.img-container {
    display: flex;
    justify-content: center;
} 

h5 {
    margin: 0 0;
}

.about-me img {
    width: 1000px;
    border-radius: 5px;
}

.about-me .text-container, .about-me h4 {
    margin-left: 20px;
}

.about-me .img-container {
    display: flex;
    justify-content: center;
}
