.card-experience {
    display: flex;
    flex-direction: column;
    width: 370px;
    justify-content: space-around;
    align-self: center;
    border: 1px solid #CCD1D1;
    padding: 20px 0 10px 0;
}

.job-experience-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-experience-description h4 {
    text-align: center; 
    padding: 0 20px;
}


.job-experience-description h5 {
    text-align: left; 
    padding: 0;
    margin: 0;
}

.job-experience-description ul {
    text-align: left;
}

.icon-container {
    display: flex;
    align-self: center;
}

.icon-container p {
    padding: 0 15px;
}

.icon-container i {
    align-self: center  ;
}

.experience img {
    align-self: center;
    width: 70px;
}