.project-card {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin: 0;
    width: 500px;
    border: 1px solid #E5E8E8;
    color: black;
}

.project-card:hover {
    box-shadow: 0 -2px #008B8B;
}

.project-card h3 {
    font-weight: bold;
}

.project-card p {
    align-self: start;
    text-indent: 2px;
    margin: 0;
    padding: 3px 10px;
}

.project-card img {
    height: 250px;
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.used-technologies {
    margin: 10px 15px;
    display: flex;
    align-self: flex-start;
}

button {
    background-color: #008B8B;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
}

button a {
    font-weight: bold;
    color: white;
}

button:hover {
    background-color: #06373a;
}